* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial;
}

body {
    height: 100vh;
    background-color: #ffffff;
}

ul {
    list-style-type: none;
}

h1, h2, p , a {
    color: #333;
}

h1 {
    font-weight: 500;
}

h2 {
    font-weight: 500;
}

p {
    font-size: 18px;
    font-weight: 400;

}

a {
    text-decoration: none;
}

th {
    font-weight: 400;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2.5em;
    padding-right: 2.5em;
    height: 5.5em;
}

.logo {
    display: flex;
    gap: 5px;
}

.logo img {
    height: 50px;
    width: 50px;
}

.logo h1 {
    font-weight: 400;
}

span {
    color: #007acc;
}

nav {
    height: inherit;
    display: flex;
    align-items: center;
}

.navigation ul li {
    display: inline;
    font-size: 20px;
    margin: 20px;
    transition: 0.3s;
}

.navigation ul li:hover {
    cursor: pointer;
    color: rgb(150, 150, 150);
    transition: 0.3s;
}

/* Header End */

/* HOME PAGE */


.hero img {
    width: 100%;
    position: relative;
}

.hero h1 {
    text-align: center;
    background-color: #007acc;
    position: absolute;
}


.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2.5em;
    margin: 4em;
}

.container__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2.5em;
    width: 500px;
    height: 150px;
}

.items {
    margin: 4em;
    padding: 4em;
}

.items__header {
    text-align: center;
}

.items__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2.5em;
    margin-top: 4em;
    margin-bottom: 4em;
}

.item {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    padding: 15px;
}

.item h1 {
    text-align: center;
    color: #007acc;
}

/* HOME PAGE END */

/* SIGNUP */

.form__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}

.form__card {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    width: fit-content;
    padding: 15px;
}

.form__card input {
    width: 20em;
    height: 4em;
    margin: 10px 0px 10px 0px;
    padding: 5px;
}

.form__email input {
    width: 100%;
}

.form__password input {
    width: 100%;
}

.form__address input {
    width: 100%;
}

.form__gender input{
    all: revert;
}

.radio_container {
    display: flex;
    flex-direction: row;
}

.select__box {
    height: 4em;
    width: 11em;
}

.form__card button {
    color: #fff;
    background-color: #2CA58D;
    border:none;
    padding: 15px;
    font-size: 16px;
    margin-top: 10px;
}

.form__card button:hover {
    cursor: pointer;
}

.error__message {
    margin-top: 10px;
    background-color: #f8d7da;
    border: 1px solid #8b373f;
    padding: 10px;
}

.error__message p {
    color: #721c24; 
}

/* LOGIN */ 

.login__image {
    text-align: center;
}

/* Footer */

footer {
    background-color: #30343F;
    text-align: center;
    padding: 4em;
}

footer p{
    color: #fff;
}

/* DASHBOARD */

.dashboard__container {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.side__menu {
    padding: 15px;
    border-right: 1px solid #d8d8d8;
    height: 100vh;
    position: fixed;
}

.upper__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    gap: 1em;
    border-bottom: 1px solid #d8d8d8;
}

.upper__nav a {
    background-color: #cbebf7;
    color: #007acc;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    text-align: center;
    transition: 0.2s;
    width: 100%;
}

.upper__nav a:hover {
    background-color: #6ac5e9;
}

.current__user {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

.current__user i {
    font-size: 52px;
    color:#7e7e7e;
}

.lower__nav {
    flex-direction: column;
    padding: 15px;
}

.nav__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    gap: 2em;
    transition: 0.1s ease-in-out;
}

.nav__wrapper:hover {
    border-right: 5px solid #007acc;
    color: #007acc;
    transition: 0.1s ease-in-out;
}

.nav__wrapper i {
    font-size: 24px;
    width: 30px;
    display: inline-block;
    vertical-align: middle;
}

.main {
    width: 75%;
    margin-left: 23.5%;
    padding: 20px;
    position: relative;
}

.main__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5em 0;
}

.date {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.date i {
    font-size: 24px;
    padding: 20px;
    background-color: #fcfcfc;
    border-radius: 5px;
}

.main__banner {
    margin-top: 1em;
    height: fit-content;
    background-image: url(../public/images/patient.png);
    border-radius: 10px;
}

.main__banner__image {
    position: absolute;
}

.main__banner__text {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 3em;
    padding: 25px;
}

.main__search form input {
    width: 30%;
    height: 3em;
}

.main__search form button {
    border: none;
    background-color: #007acc;
    color: #fff;
    padding: 10px;
}

.main__info {
    margin-top: 2em;
}

.main__info {
    display: flex;
    flex-direction: row;
}

.status__container {
    max-width: 50%;
}

.status {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.status__card {
    border: 1px solid #d8d8d8;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    align-items: center;
    padding: 20px;
    max-width: 250px;
}

.status__card i {
    font-size: 24px;
    background-color: #f2f2f2;
    color: #007acc;
    padding: 20px 15px;
}

table {
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    border-collapse: collapse;
}

th {
    border-bottom: 2px solid #007acc;
    width: 300px;
}

tr {
    text-align: left;
}

td {
    width: 300px;
    border-bottom: 1px solid #d8d8d8;
}

th, td {
    padding: 5px;
}

.doctors {
    margin-top: 2em;
}

.doctor__table {
    margin-top: 1em;
}

.doctor__table button {
    background-color: #007acc;
    color: #fff;
    border: none;
    padding: 3px;
    font-size: 15px;
}

td a {
    background-color: #007acc;
    color: #fff;
    padding: 3px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal__content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: fit-content;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

/* APPOINTMENTS */


.appointment__status {
    display: flex;
    justify-content: space-evenly;
}

.appointments__table {
    margin-top: 1.5em;
}

.form__card__dash {
    border-radius: 8px;
    padding: 20px;
    max-width: 400px;
}

.select__container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.select__box {
    width: 48%; /* Makes sure both select boxes fit evenly */
    padding: 10px;
    cursor: pointer;
}

.form__time input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    box-sizing: border-box;
}

.form__card__dash button {
    background-color: #007acc;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    border: none;
    transition: 0.2s;
}

.form__card__dash button:hover {
    background-color: #2389cc;
    transition: 0.2s;
}

/* DOCTOR MODAL */

.doctor__card {
    display: flex;
    flex-direction: row;
    gap: 5em;
    padding: 2em 4em;
    align-items: center;
}

.doctor__icon i {
    font-size: 64px;
}

.doctor__top {
    border-bottom: 1px solid #d8d8d8;
}

.doctor__top p {
    color: #007acc;
}
